data/raw/
data/temp/
data/processed/
data/noise_features/
data/stats_features/

reports/best_model.pth

scripts/training_debug.py

src/model_full_debug.py

*.csv~

__pycache__/
*.pyc

env/
venv/
*.egg-info/
